@import "tailwindcss";

.turbo-progress-bar {
  background-color: var(--color-main);
  z-index: 1000;
}

body {
  font-family: 'Golos Text', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-gray);
  background-color: #f9f9f9;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 16px;
  margin-top: 4px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 12px;
}
